<!DOCTYPE html>
<html>
<head>
    <style>
        .loader {
            border: 16px solid #f3f3f3;
            border-radius: 50%;
            border-top: 16px solid #3498db;
            width: 120px;
            height: 120px;
            animation: spin 2s linear infinite;
        }

        @keyframes spin {
            0% { transform: rotate(0deg); }
            100% { transform: rotate(360deg); }
        }
    </style>
</head>
<body>

<h2>Calling...</h2>

<div class="loader"></div>
<script>
    
    
    var loc = window.location;
    var wsStart = 'ws://';
    if (loc.protocol == 'https:') {
        wsStart = 'wss://'
    }
    var endpoint = wsStart + '127.0.0.1:8001' + '/ws/calling/';
    var socket = new WebSocket(endpoint);
    socket.onopen = (event) => {
        console.log('WebSocket connection opened:', event);
    };

    socket.onmessage = (event) => {
        const data = JSON.parse(event.data);
        alert(data.message); // Show a pop-up with the received message
    };

    socket.onerror = (event) => {
        console.log('WebSocket connection faced an error:', event);
    };
    socket.onclose = (event) => {
        console.log('WebSocket connection closed:', event);
    };

    // Send a message to the server
    function sendCall() {
        if (socket.readyState === WebSocket.OPEN) {
        // Check if the WebSocket is open before sending a message
        const message = 'Incoming Call';
        socket.send(JSON.stringify({ message }));
    } else {
        console.log('WebSocket is not in the OPEN state.');

        // You may want to handle reconnection or other actions here
    }
        
    }
</script>

<button onclick="sendCall()">Make Call</button>

</body>
</html>
