{% extends 'main.html' %}

{% block content %}
    <section class="feature-sec">
        <div class="container">
            <div class="row">
                <div class="col-12 features-devices">
                    <h1 class="feature-head"><span>Join from anywhere on any device</span></h1>
                    <h3 class="feature-subhead">Download the Overt Meeting app or join directly from your browser</h3>
                    <div class="devices">
                        <div class="d">
                            <img src="../../../static/images/monitor.png" alt="">
                            <p>On your desktop</p>
                        </div>
                        <div class="d">
                            <img src="../../../static/images/smartphone.png" alt="">
                            <p>On your phone</p>
                        </div>
                        <div class="d">
                            <img src="../../../static/images/tablet.png" alt="">
                            <p>On your tablet</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 f1">
                    <h1>Before your meeting</h1>
                    <div class="f1-content row">
                        <input type="checkbox" id="ch1">
                        <div class="fc1 col-6">
                            <h3>WebApp and Desktop App</h3>
                            <p>The app is available both as a web application <br> and a desktop
                                application.
                            </p>
                        </div>
                        <div class="fc2 col-6">
                            <h3>Via Browser or App</h3>
                            <p>Users can join meetings through their browsers or the dedicated
                                program/app.
                            </p>
                        </div>
                        <div class="fc3 col-6">
                            <h3>Self Hosted Meeting Server</h3>
                            <p>The app allows users to host their own meeting server.</p>
                        </div>
                        <div class="fc4 col-6">
                            <h3>Authorized Users</h3>
                            <p>Only authenticated users have access to the meetings</p>
                        </div>
                        <div class="load-more-f1">
                            <div class="fc5 col-6">
                                <h3>Create Rooms</h3>
                                <p>Users can create separate meeting rooms.</p>
                            </div>
                            <div class="fc6 col-6">
                                <h3>Join Rooms</h3>
                                <p>Users can join specific meeting rooms</p>
                            </div>
                            <div class="fc7 col-6">
                                <h3> Custom Join Links</h3>
                                <p>Custom links are provided to join meetings without requiring registration.</p>
                            </div>
                            <div class="fc8 col-6">
                                <h3>No Software Installation</h3>
                                <p>Users can access meetings directly through their browsers without
                                    installing any additional software
                                </p>
                            </div>
                            <div class="fc9 col-6">
                                <h3>Custom Room Names</h3>
                                <p>Users can assign custom names to their meeting rooms.</p>
                            </div>  
                            <div class="fc10 col-6">
                                <h3>Admin Powers</h3>
                                <p>Administrators can add or remove features for meeting participants.</p>
                            </div>
                            <label for="ch1" class="label-f1">Show Less</label>
                        </div>
                        <label for="ch1" class="label-f1">Show More</label>
                    </div>
                </div>
                <div class="col-12 f2">
                    <h1>While meeting</h1>
                    <div class="f2-content row">
                        <input type="checkbox" id="ch2">
                        <div class="fc1 col-6">
                            <h3>File Sharing</h3>
                            <p>Users can share files with each other during<br> the meeting.</p>
                        </div>
                        <div class="fc2 col-6">
                            <h3>Persistent Files</h3>
                            <p>Shared files are not deleted after the meeting ends.</p>
                        </div>
                        <div class="fc3 col-6">
                            <h3>Screen Sharing & Video Sharing</h3>
                            <p>Participants can share screens and videos  in the<br> meeting</p>
                        </div>
                        <div class="fc4 col-6">
                            <h3>Shared Documents</h3>
                            <p>Participants can access and collaborate on shared documents.</p>
                        </div>
                        <div class="load-more-f2">
                            <div class="fc5 col-6">
                                <h3>Remote Access</h3>
                                <p>Users can grant control of their shared screen to <br> others in the meeting using the
                                    desktop application.
                                </p>
                            </div>
                            <div class="fc6 col-6">
                                <h3>Remote Session</h3>
                                <p>Multiple users can collaboratively work on a remote PC without the owner's
                                    presence during the meeting.
                                </p>
                            </div>
                            <div class="fc7 col-6">
                                <h3>Watch Video Together</h3>
                                <p>Users can watch videos simultaneously during the meeting.</p>
                            </div>
                            <div class="fc8 col-6">
                                <h3>Listen Audio Together</h3>
                                <p>Users can listen to audio together in real-time.</p>
                            </div>
                            <div class="fc9 col-6">
                                <h3>No Time Restrictions</h3>
                                <p>Meetings have no time limitations.</p>
                            </div>
                            <div class="fc10 col-6">
                                <h3>Breakout Rooms</h3>
                                <p>The app supports creating breakout rooms for smaller group discussions</p>
                            </div>
                            <label for="ch2" class="label-f2">Show Less</label>
                        </div>
                        <label for="ch2" class="label-f2">Show More</label>
                    </div>
                </div>
                <div class="col-12 others">
                    <h1>Other Features</h1>
                    <div class="other-content row">
                        <input type="checkbox" id="other">
                        <div class="fc1 col-6">
                            <h3>Call Recording</h3>
                            <p>Meetings can be recorded for future reference</p>
                        </div>
                        <div class="fc2 col-6">
                            <h3>GDPR Compliant</h3>
                            <p>The app complies with the General Data Protection Regulation and is cookie-free</p>
                        </div>
                        <div class="fc3 col-6">
                            <h3>Custom Password & Lobby</h3>
                            <p>Meetings can be protected with custom passwords,<br> and a lobby functionality is available.</p>
                        </div>
                        <div class="fc4 col-6">
                            <h3>Better Quality & Scalable</h3>
                            <p>The app provides high-quality audio and video with low latency, and it   is highly scalable and cost-effective</p>
                        </div>
                        <div class="load-more-o">
                            <div class="fc5 col-6">
                                <h3>Compatible with WebRTC</h3>
                                <p>The app is compatible with WebRTC technology for  <br>real-time communication.</p>
                            </div>
                            <div class="fc6 col-6">
                                <h3>API for Integration</h3>
                                <p>An API is available to integrate the meeting service into other applications.</p>
                            </div>
                            <div class="fc7 col-6">
                                <h3>Audio Level Control</h3>
                                <p>Users can see and control the audio levels of other participants.</p>
                            </div>
                            <div class="fc8 col-6">
                                <h3>Noise Suppression</h3>
                                <p>The app suppresses background noise during calls.</p>
                            </div>
                            <div class="fc9 col-6">
                                <h3>Echo Cancellation</h3>
                                <p>Echo cancellation is implemented to improve audio quality.</p>
                            </div>
                            <div class="fc10 col-6">
                                <h3>Over the Screen Overlay</h3>
                                <p>The app allows overlays on the screen during the meeting.</p>
                            </div>
                            <div class="fc11 col-6">
                                <h3>Customizable Frontend</h3>
                                <p> The app's frontend can be customized to fit specific needs.</p>
                            </div>
                            <div class="fc12 col-6">
                                <h3>Based on Jitsi</h3>
                                <p>The app is built on the open-source video conferencing solution - Jitsi</p>
                            </div>
                            <label for="other" class="label-o">Show Less</label>
                        </div>
                        <label for="other" class="label-o">Show More</label>
                    </div>
                </div>
                
                <div class="col-12 feature-footer">
                    <h1 class="text-center">Safe, secure, worry-free meetings</h1>
                </div>
                <div class="col-lg-4 col-12 features-card">
                    <img src="../../../static/images/computer.png" alt="">
                    <h3>Secure content sharing</h3>
                    <p>Screen-sharing,keyboard /mouse control data, and text chat information are TSL-encrypted in transit and AES 256-bit encrypted at rest.</p>
                </div>
                <div class="col-lg-4 col-12 features-card">
                    <img src="../../../static/images/content.png" alt="">
                    <h3>Encrypted video</h3>
                    <p>We use an SRTP with AES-128-HMAC-SHA1-based protocol to encrypt video and keep your meetings confidential and safe.</p>
                </div>
                <div class="col-lg-4 col-12 features-card">
                    <img src="../../../static/images/microphone.png" alt="">
                    <h3>Encrypted audio</h3>
                    <p>SRTP with AES-128-HMAC-SHA1 based protocol over both UDP and TCP protects the privacy and integrity of your audio data.</p>
                </div>
                <div class="col-lg-4 col-12 features-card">
                    <img src="../../../static/images/padlock.png" alt="">
                    <h3>Meeting lock</h3>
                    <p>Lock your meeting after it starts and approve any additional guests before they can join.</p>
                </div>
                <div class="col-lg-4 col-12 features-card">
                    <img src="../../../static/images/security.png" alt="">
                    <h3>Passcode-protected meetings</h3>
                    <p>Require a passcode so only those you've invited can join your meetings.</p>
                </div>
                <div class="col-lg-4 col-12 features-card">
                    <img src="../../../static/images/participant-removal-g.svg" alt="">
                    <h3>Participant removal</h3>
                    <p>See someone you don't recognize? Remove them from the meeting with one click.</p>
                </div>
            </div>
        </div>
    </section>
    
{% endblock %}